body{
    background-color: rgb(16, 16, 19);
}

#construct{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#frame{
   
    border: 5px solid greenyellow;
    border-radius: 30px;
    background-color: rgba(19, 18, 18, 0.89);
    width: 87%;
    height: 94%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    bottom: auto;
    left: 7%;
    right: 28%;
    
}




.top{
    display: flex;
    height: 41%;
}

#screen{
    width: 90%;
    background-color: green;
    color: lawngreen;
    opacity: 80%;
    font-size: 400%;
    text-shadow: 0 0 10px;
    border-radius: 20px 0 0 0;
}

#enter{
    color: greenyellow;
    border-radius: 0 20px 0 0;
    width: 10%;
}

#keypad{
    display: grid;
    gap: 12%;
    grid-template-columns: 15% 15% 15% 15%;
    padding: 1rem;
    margin: 1%;
    font-size: large;
    row-gap: 10%;


}

.key{
    border: 8px solid rgb(212, 218, 203);
    border-radius: 20px;
    padding: 20px;
    color: aliceblue;
    box-shadow: 0 0 5px;
    text-shadow: 0 0 3px;
    width: 88%;
    height: 33px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    
    
}

#zero{
    grid-column: span 3;
    width: 98%;
    
}

